<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 效果：开发环境打印到控制台，生产环境打印到文件 -->
		
	
	<!-- 开发、测试环境 -->
	<springProfile name="local">
		
		<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        	</encoder>
    	</appender>
		
		<root level="info">
            <appender-ref ref="consoleAppender" />
        </root>
	</springProfile>
	
	<!-- 生产环境 -->
	<springProfile name="prod,qa">

		<appender name="fileInfoLog"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>ERROR</level>
				<onMatch>DENY</onMatch>
				<onMismatch>ACCEPT</onMismatch>
			</filter>
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{10} [%file:%line] %msg%n</pattern>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>/u01/usercenter/log/CloudServiceDiscoveryLog/info/info.%d.log</fileNamePattern>
			</rollingPolicy>
		</appender>

		<appender name="fileErrorLog"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<level>ERROR</level>
			</filter>
			<encoder>
				<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符--> 
            	<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{10} [%file:%line] %msg%n</pattern>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>/u01/usercenter/log/CloudServiceDiscoveryLog/error/error.%d.log</fileNamePattern>
			</rollingPolicy>
		</appender>

		<logger name="org.cloud.service.discovery" level="INFO">
			<appender-ref ref="fileInfoLog" />
			<appender-ref ref="fileErrorLog" />
		</logger>
		
	</springProfile>


</configuration>